/* stylesheet for webpages */

h3 {
    color:purple;
}
.desc {
    color:rgb(122, 95, 241);
    font-family:"Arial";
    font-size: 16px;
}
.subsection {
    font-style:italic;
    font-size: 17px
}
/* it's a good idea to include img dims up front; makes loading a lot smoother. the page already knows how much space is required */
img {
    height: auto;
    width: 700px;
}