/* stylesheet for webpages */

html {
    box-sizing: border-box;
}

/* I'm not sure yet why this does what it does */
*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    font-family: Georgia, Cambria, Garamond, serif;
    border: 2px solid red;
}

header {
    font-family: monospace;
    font-size: 30px;
}

.subtitle {
    font-size: 24px;
    font-weight: bold;
}

.footer {
    font-size: 18 px;
    font-weight: bold;
}

.page-title {
    color: rgb(71, 71, 71);
}

.subsection {
    font-style: italic;
    font-size: 20px
}

.desc {
    color: rgb(0, 0, 0);
}

.spanned {
    display: inline-flex;
}

.list,
.steps,
.desc {
    font-size: 18px;
    list-style: none;
}

.footer.list {
    font-family: Arial, sans-serif;
    font-size: 13px;
    font-weight:100;
}

/* it's a good idea to include img dims up front; makes loading a lot smoother. the page already knows how much space is required */
img.dish-image {
    height: auto;
    width: 600px;
    display:block;
    margin: 10px;
}